// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";
@import "slider.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

/*!
 * Roots 6.5.2
 */

/* ==========================================================================
   Base
   ========================================================================== */

body {
   font-family: "Avenir", @font-family-sans-serif;
   font-weight: 400;
   font-variant: normal;
}

strong, .strong {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

em {
   font-family: "AvenirItalic", @font-family-sans-serif;
   font-weight: 400;
   font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

a {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

.scripty {
   font-family: "Bickham", @font-family-serif;
   font-weight: normal;
   font-style: normal;
   font-size: ceil((@font-size-base * 3.0));
}
.navy-text {
   color: @beran-navy;
   .strong;
   text-transform: uppercase;
   font-size: @font-size-h4;
   em {
      font-family: 'AvenirBoldItalic';
   }
}
.gray-em {
   color: @title-gray;
   font-family: 'AvenirItalic', @font-family-sans-serif;
   font-style: italic;
   font-weight: 400;
   font-size: @font-size-h4;
   display: block;
   clear: both;
}
a.red-button {
   width: 100%;
   background: @brand-success;
   display: block;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   margin: 20px 0;
   font-size: @font-size-h4;
   letter-spacing: .075em;
   &:hover {
      text-decoration: none;
      background: darken(@brand-success, 10%)
   }
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   padding-top: 25px;
   box-shadow: 0 10px 10px -10px #555;
}
.navbar-branding {
   margin-bottom: 5px;
}
.beran-tagline {
   margin-top: 20px;
   text-align: right;
}
.navbar-default .navbar-nav > li > a {
   .strong;
   text-transform: uppercase;
   font-size: 14px;
   letter-spacing: .05em;
   &:hover {
      z-index: 999;
      background: @brand-success;
      color: white;
      &:after {
         .hidden;
      }
   }
}
.navbar-default .navbar-nav > li > a:after {
   content : "";
   position: absolute;
   left    : -2px;
   bottom  : 20px;
   height  : 12px;
   width   : 2px;
   background: @brand-second;
}
.navbar-default .navbar-nav > li.active {
   z-index: 99;
}
.navbar-default .navbar-nav > li.active > a:after {
   background: transparent;
}
.navbar-default .navbar-nav > li.social-menu > a {
   border-right: none;
   background: @beran-tan;
   border-radius: 50%;
   padding: .4em .6em;
   margin-left: 10px;
   margin-top: 7px;
   color: white;
   &:after {
      .hidden;
   }
}
.navbar-default .navbar-nav > li.social-menu.menu-facebook > a {
   padding: .4em .85em;
}
.navbar-default .navbar-nav > li.social-menu.menu-rss > a {
   padding: .4em .65em;
}
.navbar-default .navbar-nav > li.phone-num > a {
   color: @brand-success;
   font-size: 16px;
   &:hover {
      background: transparent;
   }
}
body.home .navbar {
   margin-bottom: 0;
}

.navbar-static-top {
   border: none;
}

/* ==========================================================================
   Homepage Content
   ========================================================================== */
.slider-wrapper {
   #gradient.vertical(#FEFFFE; #D3EDE7; 0%; 75%);
   width: 100%;
   box-shadow: inset 0 -10px 10px -10px #555;
}
.royalSlider {
  width: 100%;
  height: 555px;
  max-width: 1080px;
  margin: 0 auto;
}
#pathways {
   box-shadow: 0 10px 10px -10px #555;
   padding: 40px 0;
   margin-bottom: 65px;
   .container {
      margin: 0 auto;
   }
}
.pathways-item {
   h4 {
      color: @beran-brown;
      margin-top: 20px;
   }
}
#home-content {
   border-bottom: solid 1px @gray-light;
   padding-bottom: 40px;
   margin-bottom: 40px;
}
.home-copy {
   font-size: 20px;
   line-height: 1.75;
}
.track-record {
   h3 {
      margin-top: 5px;
      text-transform: uppercase;
      color: @title-gray;
   }
   color: @list-gray;
   ul {
      padding-left: 1.25em;
      li {
         text-transform: uppercase;
         .strong;
         line-height: 1.5;
         margin-bottom: 10px;
      }
   }
}
#social-feed {
   h3 {
      color: @title-gray;
      margin-top: 0;
   }
   h4 {
      color: @beran-brown;
      margin-top: 0;
   }
   .fb-update {
      margin-top: 35px;
   }
   .fb-img {
      overflow: hidden;
      img {
         width: 100%;
         margin-top: -50%;
      }
   }
   .form-control-feedback {
      top: 0;
      color: @brand-success;
   }
}
.birdnest {
   float: right;
}
/* ==========================================================================
   Page Content
   ========================================================================== */
.page-header {
   color: @title-gray;
   text-transform: uppercase;
}
body.page .content {
   font-size: 16px;
   line-height: 1.65;
   img {
      max-width: 100%;
      height: auto;
   }
}
body.page .content img.alignleft {
   margin: 0 20px 20px 0;
}
.content { }

.page-gallery-item {
   border-top: solid 1px @beran-tan;
   padding: 20px 0;
   border-bottom: solid 1px @beran-tan;
   margin-top: 20px;
   img {
      width: 100%;
      height: auto;
   }
}

ul.sl-map-list {
   margin: 40px 0 -200px 0;
   .strong;
   text-transform: uppercase;
   color: @title-gray;
   a {
      text-transform: lowercase;
   }
   li {
      margin-bottom: 15px;
   }
}

#sl-map {
   background-size: cover !important;
   position: relative;
   z-index: -1;
   &.highlighted {
      img {
      opacity: 0;
      }
   }
}
#residents-club {
   margin: 20px 0 40px 0;
   display: none;
}
.sponsor-logos {
   margin-top: 2em;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin-top: 4em;
   padding: 2em 0;
   background: @footer-bg;
   color: white;
   h5 {
      text-transform: uppercase;
   }
}
.social-icon {
   display: inline-block;
   background: @beran-tan;
   padding: .35em .65em;
   border-radius: 50%;
   font-size: 1.75em;
   margin-right: .25em;
   i {
      color: @footer-bg;
      margin: 0;
      padding: 0;
   }
   .fa-facebook {
      padding: .1em .25em;
   }
}
.footer-logos {
   margin-top: 2em;
}
.contact-info {
   .strong;
}
.contact-divider {
   height: 10px;
   width: 7px;
   margin: 0 10px;
   display: inline-block;
   border-radius: 50%;
   background: @beran-tan;
}
.fax {
   margin-left: 20px;
}
.fax-number, .phone-number {
   font-size: 20px;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }

