// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";
@import "slider.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

/*!
 * Roots 6.5.2
 */

/* ==========================================================================
   Base
   ========================================================================== */

body {
   font-family: "Avenir", @font-family-sans-serif;
   font-weight: 400;
   font-variant: normal;
}

strong, .strong {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

em {
   font-family: "AvenirItalic", @font-family-sans-serif;
   font-weight: 400;
   font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

a {
   font-family: "AvenirBold", @font-family-sans-serif;
   font-weight: 700;
   font-style: normal;
}

.scripty {
   font-family: "Bickham", @font-family-serif;
   font-weight: normal;
   font-style: normal;
   font-size: ceil((@font-size-base * 3.0));
   -webkit-font-smoothing: antialiased;
}
.gray-scripty {
  .scripty;
  color: @beran-darkgray;
  line-height: .75;
  margin-bottom: .5em;
}
.navy-text {
   color: @beran-navy;
   .strong;
   text-transform: uppercase;
   font-size: @font-size-h4;
   em {
      font-family: 'AvenirBoldItalic';
   }
}
.gray-em {
   color: @title-gray;
   font-family: 'AvenirItalic', @font-family-sans-serif;
   font-style: italic;
   font-weight: 400;
   font-size: @font-size-h4;
   display: block;
   clear: both;
   margin-top: 20px;
}
.beran-headline, .beran-subheadline {
  color: @title-gray;
}
body.parent-pageid-14 .beran-subheadline {
  margin-bottom: 0;
}
.brown-pagetitle {
  color: @beran-ltbrown;
  text-transform: uppercase;
}
a.red-button {
   width: 100%;
   background: @brand-success;
   display: block;
   color: white;
   padding: 10px 20px;
   text-align: center;
   text-transform: uppercase;
   margin: 20px 0;
   font-size: @font-size-h4;
   letter-spacing: .075em;
   &:hover {
      text-decoration: none;
      background: darken(@brand-success, 10%)
   }
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
   padding-top: 25px;
   box-shadow: 0 10px 10px -10px #555;
   img {
      max-width: 100%;
      height: auto;
   }
}
.navbar-branding {
   margin-bottom: 5px;
}
.beran-tagline {
   margin-top: 20px;
   text-align: right;
}
.navbar-default .navbar-nav > li > a {
   .strong;
   text-transform: uppercase;
   font-size: 12px;
   &:hover {
      z-index: 999;
      background: @brand-success;
      color: white;
      &:after {
         .hidden;
      }
   }
   em {
      font-family: 'AvenirBoldItalic';
   }
}
.navbar-default .navbar-nav > li.active {
   z-index: 99;
}
.navbar-default .navbar-nav > li.active > a:after {
   background: transparent;
}
.navbar-default .navbar-nav > li.phone-num > a {
   color: @brand-success;
   font-size: 14px;
   &:hover {
      background: transparent;
   }
}
body.home .navbar {
   margin-bottom: 0;
}

.navbar-static-top {
   border: none;
}
.navbar-nav > li > .dropdown-menu {
   border-radius: 0px;
   text-transform: uppercase;
   border-top: none;
   padding: 10px 0;
   box-shadow: inset 0 7px 7px -7px #555;
}
.navbar-default .navbar-nav > li.social-menu {
   display: inline-block;
   margin-bottom: 1em;
}
.navbar-default .navbar-nav > li.social-menu > a {
   border-right: none;
   background: @beran-tan;
   border-radius: 50%;
   padding: 0;
   height: 35px;
   width: 35px;
   margin-left: 12px;
   margin-top: 6px;
   text-align: center;
   color: white;
   &:after {
         .hidden;
   }
   i {
      font-size: 16px;
      line-height: 2.1;
   }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: @brand-success;
  background: transparent;
}

/* ==========================================================================
   Homepage Content
   ========================================================================== */
.slider-wrapper {
   #gradient.vertical(#FEFEFE; #DCF1EC; 5%; 95%);
}
.royalSlider {
  width: 100%;
  padding: 0;
  height: 555px;
  max-width: 1080px;
  margin: 0 auto;
  a {
   display: block;
  }
}
.rsImg {
   position: relative;
   z-index: -1;
}
#pathways {
   #gradient.vertical(#FBFEFD; #DCF0ED; 20%; 80%);
   box-shadow: 0 10px 10px -10px #555,
   0px -10px 10px -10px #555;
   padding: 0 0 40px 0;
   margin-bottom: 65px;
   position: relative;
   z-index: 999;
   .container {
      margin: 0 auto;
   }
   img {
      width: 100%;
      height: auto;
   }
}
.pathways-item {
   h4 {
      color: @beran-brown;
      margin-top: 20px;
   }
   a {
      display: block;
   }
}
.home-copy {
   font-size: 20px;
   line-height: 1.75;
}
.track-record {
   border-top: solid 2px @brand-second;
   padding-top: 2em;
   margin-top: 2em;
   border-bottom: solid 2px @brand-second;
   padding-bottom: 2em;
   margin-bottom: 2em;
   h3 {
      margin-top: 5px;
      text-transform: uppercase;
      color: @title-gray;
   }
   color: @list-gray;
   ul {
      padding-left: 1.25em;
      li {
         text-transform: uppercase;
         .strong;
         line-height: 1.5;
         margin-bottom: 10px;
      }
   }
}
#social-feed {
   h3 {
      color: @title-gray;
      margin-top: 0;
   }
   h4 {
      color: @beran-brown;
      margin-top: 0;
   }
   .fb-update {
      margin-top: 35px;
   }
   .fb-img {
      overflow: hidden;
      img {
         width: 100%;
         margin-top: -50%;
      }
   }
}
.birdnest {
   float: right;
}
.btn-newsletter {
   background: @gray-lighter;
   width: 100%;
   text-align: right;
   span {
      color: @brand-success;
   }
}
/* ==========================================================================
   Page Content
   ========================================================================== */
.page-header {
   color: @title-gray;
   text-transform: uppercase;
   padding-bottom: 0;
   margin-bottom: 0;
   margin-top: .75em;
}
body.page .content {
   font-size: 16px;
   line-height: 1.65;
   img.wp-post-image {
      margin-top: 45px;
   }
}
body.page .content img.alignleft {
   margin: 0 20px 20px 0;
}
body.parent-pageid-14 {
  #gradient.horizontal(#FFFFFF; #D8EFEB; 0%; 100%);
  .content-info {
    margin-top: 0;
  }
  &.building-advice {
    background: white;
  }
}
body.advice, body.single {
  #gradient.horizontal(#FFFFFF; #D8EFEB; 0%; 100%);
  .beran-headline {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  .advice-title {
    margin-bottom: 0;
    a {
      color: @beran-ltbrown;
    }
  }
  .advice-post-content {
    margin-top: 20px;
  }
  .advice-img {
    border: solid 4px white;
    border-radius: 2px;
    box-shadow: 0 0 7px rgba(0,0,0,.45);
    margin-bottom: 15px;
  }
}
body.single {
  .advice-post {
    margin-top: 20px;
  }
}
body.contact {
  #gradient.horizontal(#FFFFFF; #D8EFEB; 0%; 100%);
}
body.awards-recognition .content {
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    background: url(../img/beranbullet.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 40px;
    background-position: 0 3px;
    margin-bottom: 2em;
  }
}
body.parent-pageid-14.southern-living  {
  background: white;
}

.newhomes-wrap {
  background: white;
  box-shadow: inset 0 7px 7px -7px #666;
  margin-top: 2em;
  padding-bottom: 5em;
  img {
    margin-top: -11em;
  }
}
.content { }

.page-gallery-item {
   border-top: solid 1px @beran-tan;
   padding: 20px 0;
   border-bottom: solid 1px @beran-tan;
   margin-top: 20px;
   img {
      width: 100%;
      height: auto;
   }
}

ul.sl-map-list {
   margin: 115px 0 0 0;
   .strong;
   text-transform: uppercase;
   color: @title-gray;
   padding: 0 0 0 20px;
   a {
      text-transform: lowercase;
   }
   em {
      font-family: 'AvenirBoldItalic';
   }
   li {
      list-style: none;
      margin-bottom: 15px;
      padding-left: 40px;
      min-height: 30px;
      &.highlight-item {
         background: url(../img/list_01.png);
         background-repeat: no-repeat;
         background-size: 30px 28px;
      }
      &.residentsclub-item{
         background: url(../img/list_02.png);
         background-repeat: no-repeat;
         background-size: 30px 28px;
      }
      &.future-item{
         background: url(../img/list_03.png);
         background-repeat: no-repeat;
         background-size: 30px 28px;
      }
   }
}

#sl-map {
   background-size: contain !important;
   &.highlighted {
      img {
      opacity: 0;
      }
   }
}
#residents-club {
   margin: 20px 0 40px 0;
   display: none;
}
#floorplan-img {
   border-top: solid 1px @beran-tan;
   padding: 20px 0;
   border-bottom: solid 1px @beran-tan;
   margin-top: 20px;
   background-size: contain !important;
   background-repeat: no-repeat !important;
   position: relative;
   img {
      opacity: 0;
      z-index: -1;
      position: relative;
   }
}
.sponsor-logos {
   margin-top: 2em;
}
.sl-facebook {
   margin-left: 20px;
   line-height: .85;
   h4 {
      display: inline-block;
      margin-right: 20px;
      margin-top: 20px;
      padding-top: 5px;
      color: @brand-success;
   }
}
h4.member-name {
  margin-bottom: 0;
}
p.member-bio {
  margin: 20px 0 40px 0;
}
p.member-email {
  margin-bottom: 0;
}
em.member-script {
  .scripty;
  font-size: 32px;
}
span.member-phone {
  color: @title-gray;
}
body.contact .gform_wrapper .top_label .gfield_label {
  .strong;
  text-transform: uppercase;
  color: @title-gray;
  font-size: 14px;
  margin: 15px 0 4px 0;
}
body.contact .ginput_complex label  {
  .strong;
  color: @title-gray;
  text-transform: uppercase;
}
.gform_button {
  background: @brand-success;
  border: none;
  color: white;
  .strong;
  text-transform: uppercase;
  padding: 5px 40px;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  padding-bottom: 2em;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

time { color: @beran-darkgray; }

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

.advice-sidebar {
  h4.beran-headline {
    text-transform: uppercase;
  }
  .newsletter-form {
    margin-bottom: 40px;
    h4 {
      color: @beran-ltbrown;
      margin-bottom: 20px;
    }
  }
}

ul.advice-recentposts {
  padding-left: 15px;
  margin-bottom: 40px;
  a {
    color: @text-color;
    font-family: "Avenir", @font-family-sans-serif;
    font-weight: 400;
  }
}
ul.archives-list {
  a {
    color: @text-color;
    font-family: "Avenir", @font-family-sans-serif;
    font-weight: 400;
  }
}
.advice-social {
  margin-top: 25px;
  margin-bottom: 40px;
  a.social-icon {
    font-size: .85em;
    height: 25px;
    width: 25px;
    padding: 0;
    text-align: center;
    line-height: 1.9;
    margin-right: 0;
    margin-left: 5px;
    i {
      color: white;
    }
  }
}


/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

body.single .content {
   font-size: 16px;
   line-height: 1.65;
   .advice-img {
    margin-bottom: 40px;
   }
   .newsletter-form {
    margin-top: 0;
   }
}
/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   margin-top: 4em;
   padding: 2em 0;
   background: @footer-bg;
   color: white;
   h5 {
      text-transform: uppercase;
   }
}
.social-icon {
   display: inline-block;
   background: @beran-tan;
   padding: .28em .48em;
   border-radius: 50%;
   font-size: 1.7em;
   margin-right: .2em;
   line-height: 1.15;
   i {
      color: @footer-bg;
      margin: 0;
      padding: 0;
   }
   .fa-facebook {
      padding: .1em .25em;
      margin-right: 0;
   }
}
.footer-logos {
   margin-top: 2em;
}
.contact-info {
   .strong;
}
.footer-blogdesc {
   text-align: center;
   margin-top: 2em;
}
.contact-divider {
   height: 10px;
   width: 7px;
   margin: 0 10px;
   display: inline-block;
   border-radius: 50%;
   background: @beran-tan;
}
.fax-number, .phone-number {
   font-size: 18px;
}
.beran-mobile-tagline {
   text-align: center;
   margin-bottom: 2em;
}
.footer-social {
   text-align: center;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Facebook Feed
   ========================================================================== */

/**************/
/*** LAYOUT ***/
/**************/

/* Feed container */
#cff {

}

/* Individual post item */
#cff .cff-item{
  overflow: hidden;
}
#cff .cff-item:first-child{
  padding-top: 0;
}


/******************/
/*** TYPOGRAPHY ***/
/******************/

/* Links */
#cff a {
  color:#666;
  text-decoration:underline;
}
#cff a:active, #cff a:hover {
  color: #000;
}

/* Post titles and body text */
#cff h4, #cff h3, #cff p{

}

#cff h4, #cff h3{
   display: inline-block;
}

/* Date */
#cff .cff-date{
  float: left;
  width: 100%;
  font-size: 11px;
}


/*************/
/*** MEDIA ***/
/*************/

/*** PHOTOS ***/
#cff .cff-photo{
  max-width: 100%;
  float: left;
  display: block;
}
#cff .cff-photo img{
  max-width: 100%;
  height: auto;
}

/*** VIDEO ***/
/* Embedded videos */
#cff iframe{
  float: left;
  clear: both;
  margin: 5px 0;
  max-width: 100% !important;
}

/* Link to an external video - Contains screenshot of video and play button */
#cff .cff-vidLink{
  float: left;
  clear: both;
  position: relative;
  width: 100%;

  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

/* Video screenshot/poster image */
#cff .cff-vidLink .poster{
  width: 100%;
  height: auto;
}

/* Video play button */
#cff .cff-playbtn{
  position: absolute;
  top: 42.5%;
  left: 45%;
  background: #000;
  background: rgba(0,0,0,0.7);
  width: 10%;
  height: 15%;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Arrow within play button */
#cff .cff-playbtn img{
  display: block;
  position: absolute;
  top: 25%;
  left: 28%;
  width: 50%;
  height: 50%;
}

/* Play button hover state */
#cff .cff-vidLink:hover .cff-playbtn,
#cff .cff-vidLink:focus .cff-playbtn{
  background: #000;
}

/* Link */
#cff .link, #cff .text-link{
  float: left;
  clear: both;
  padding: 0;
}
#cff .text-link{
  padding: 0px 0 10px 0;
  text-decoration: none;
}

/* Event */
#cff .details{
  float: left;
  clear: both;
  width: 100%;
  padding: 15px 0 10px 0;
}
#cff .details h5{
  margin: 0 0 5px 0;
  font-size: 16px;
}
#cff .details p{
  font-size: 14px;
}


/*****************/
/*** POST META ***/
/*****************/

/* Meta container */
#cff .cff-meta{
  float: left;
  clear: both;
  list-style-type: none;
  padding: 10px 0 5px 0;
  margin: 0;
}

/* Meta list items (likes, comments, shares) */
#cff .cff-meta li{
  float: left;
  display: block;
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
}

/* Icons */
#cff .cff-meta li span{
  display: block;
  float: left;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  text-indent: -9999px;
  background: url('../img/icons.png') no-repeat;
}
/* Comments */
#cff .cff-meta li.comments span{
  background-position: 0 0;
}
/* Likes */
#cff .cff-meta li.likes span{
  background-position: 0 -16px;
}
/* Shares */
#cff .cff-meta li.shares span{
  background-position: 0 -33px;
}

/* Display comments */
#cff .view-comments{
  display: block;
  float: left;
  clear: both;
  margin: 5px 0;
  padding: 0 5px 5px 10px;
  background: #eee;
}
#cff .view-comments:hover,
#cff .view-comments:focus{
  background: #ddd;
}
#cff .comments-box{
  display: none;
  float: left;
  clear: both;
  margin: 0;
  padding: 10px 15px;
  background: #eee;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cff .comments-box .name{
  padding: 0;
  margin-right: 10px;
}
#cff .comments-box .time{
  font-size: 12px;
  margin-left: 10px;
}

/* View on Facebook / View Link text */
#cff .cff-viewpost{
  float: left;
  clear: both;
  padding-top: 10px;
  font-size: 11px;
}

/* Like box */
#cff .cff-likebox{
   display: inline-block;
   line-height: .25;
   margin: 0 20px 0 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   .navbar-default .navbar-nav > li.social-menu > a {
      .hide;
   }
   .newsletter-form {
      margin-top: 40px;
   }
   .navbar-default .navbar-nav > li > a:after {
      content : "";
      position: absolute;
      right    : -2px;
      bottom  : 20px;
      height  : 12px;
      width   : 2px;
      background: @brand-second;
   }
   .track-record {
      border: none;
      padding-top: 0;
      margin-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
   }
   .footer-blogdesc {
      margin-top: 0;
      text-align: left;
   }
   .btn-newsletter {
      height: 48px;
      border-radius: 0;
      border: 1px solid #bbaba2;
      background: white;
      border-left: none;
      margin-left: -5px;
      text-align: center;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      width: 15%;
      &:hover {
         background: @gray-lighter;
      }
      span {
         color: @brand-success;
      }
   }
   #mce-EMAIL {
      border-right: none;
      margin-right: 0;
      width: 100%;
   }
   .footer-social {
      text-align: left;
   }
   .form-inline .form-group {
    width: 85%;
   }
}

@media (min-width: @screen-md-min) {
   .navbar-default .navbar-nav > li.social-menu {
      margin-bottom: 0;
   }
   .navbar-default .navbar-nav > li.social-menu > a {
      .show;
   }
   .newsletter-form {
      margin-top: 0px;
   }
   #pathways {
      background-color: white;
      background-image: none;
   }
   #home-content {
      border-bottom: solid 1px @gray-light;
      padding-bottom: 40px;
      margin-bottom: 40px;
   }
}

@media (min-width: @screen-lg-min) {
   .navbar-default .navbar-nav > li > a {
      font-size: 14px;
      letter-spacing: .01em;
   }
   .navbar-default .navbar-nav > li.phone-num > a {
      font-size: 16px;
   }
}

